<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786221558289-fp5okiduq6uprs7vg8ofe5nv3dq6658c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786221558289-fp5okiduq6uprs7vg8ofe5nv3dq6658c</string>
	<key>API_KEY</key>
	<string>AIzaSyDyhobjEq8F2ZZKYqxMsZctZyI1EazxdPE</string>
	<key>GCM_SENDER_ID</key>
	<string>786221558289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rehapp</string>
	<key>PROJECT_ID</key>
	<string>rehapp-dc805</string>
	<key>STORAGE_BUCKET</key>
	<string>rehapp-dc805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786221558289:ios:0a89203adb74f21bc51fb0</string>
</dict>
</plist>